<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add
			name="default"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=MyDB;Integrated Security=True"
            providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>



</configuration>